{% extends 'common/index.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="py-10 md:py-16">

    <div class="text-center">
        <!--
        <div class="flex justify-center mb-16">
            <img src="media/image/home-img.png" alt="Image">
        </div>
        -->
        <h3 class="font-medium text-gray-600 text-2xl md:text-4xl uppercase mb-8">Opeoluwa Fatunmbi</h3>


        <h1 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">Software Engineer / Backend Engineer</h1>

        <p class="font-normal text-gray-600 text-md md:text-xl mb-16">I have a passion for software. I enjoy creating tools that make life easier for people.</p>

        <a href="#" class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-linear duration-500">Hire me</a>
    </div>

</section>

<section class="py-10 md:py-16">
    <div>

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                    <i data-feather="activity"></i>
                </div>

                <h4 class="font-medium text-gray-700 text-lg mb-4">Unlocking Data Potential</h4>

                <p class="font-normal text-gray-500 text-md">Explore my expertise in designing optimized and scalable database structures, ensuring efficient data management for your projects.</p>
            </div>
            
            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                    <i data-feather="codesandbox"></i>
                </div>

                <h4 class="font-medium text-gray-700 text-lg mb-4">Seamless API Solutions</h4>

                <p class="font-normal text-gray-500 text-md">Experience seamless API development with my skills, delivering robust and secure backend solutions for your applications.</p>
            </div>
            
            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                    <i data-feather="zap"></i>
                </div>

                <h4 class="font-medium text-gray-700 text-lg mb-4">Optimized Performance Code</h4>

                <p class="font-normal text-gray-500 text-md">Dive into my proficiency in crafting high-performance backend code, ensuring your applications run smoothly and efficiently.</p>
            </div>
        </div>

    </div>

    </div>

</section>

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="flex flex-col lg:flex-row justify-between">
            <div class="mb-10 lg:mb-0">
                <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Portfolio</h1>

                <p class="font-normal text-gray-500 text-xs md:text-base">Here are my biggest and favorite works <br> as a professional.</p>
            </div>

            <div class="space-y-24">
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">01</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">
                          NexEstate API
                        </h1>
                        <p class="font-normal text-gray-500 text-sm md:text-base">
                          A documented API that revolutionizes real estate tech <br>
                          Ranging from property listings, transactions, and geospatial insights <br>
                          Built with: <a href="https://www.django-rest-framework.org/" class="text-blue- 500 underline">DjangoRestFramework</a>, <a href="https://blog.google/technology/ai/google-gemini-ai/" class="text-blue- 500 underline">Gemini Pro</a>, <a href="https://www.postgresql.org/docs/" class="text-blue- 500 underline">PostgreSQL</a> <br>
                          Github: <a href="https://github.com/Opeoluwa-Fatunmbi/NexEstate" class="text-blue-500 underline">github.com/Opeoluwa-Fatunmbi/NexEstate</a>
                        </p>
                    </div>
                      
                </div>
                
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">02</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">iBet API</h1>

                        <p class="font-normal text-gray-500 text-sm md:text-base">
                            A skill-based betting platform leveraging Apple's iMessage games <br> Bet on your own gaming abilities <br>
                            Built with: <a href="https://www.django-rest-framework.org/" class="text-blue- 500 underline">DjangoRestFramework</a>, <a href="https://www.postgresql.org/docs/" class="text-blue- 500 underline">PostgreSQL</a> <br>
                            Github: <a href="https://github.com/Opeoluwa-Fatunmbi/iBet" class="text-blue-500 underline">github.com/Opeoluwa-Fatunmbi/iBet</a>
                        </p>
                    </div>
                </div>
                
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">03</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Clothing-Store</h1>

                        <p class="font-normal text-gray-500 text-sm md:text-base">
                            An e-commerce application built with Django MVT<br>
                            Built with: <a href="https://docs.djangoproject.com/en/5.0/" class="text-blue- 500 underline">Django</a>, <a href="https://www.postgresql.org/docs/" class="text-blue- 500 underline">PostgreSQL</a> <br>
                            Live url: <a href="https://catalogz-theta.vercel.app/" class="text-blue-500 underline">catalogz-theta.vercel.app</a> <br>
                            Github: <a href="https://github.com/Opeoluwa-Fatunmbi/catalogz" class="text-blue-500 underline">github.com/Opeoluwa-Fatunmbi/catalogz</a>
                        </p>
                    </div>
                </div>
                
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">04</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Portfolio site</h1>
                        <p class="font-normal text-gray-500 text-sm md:text-base">
                            This portfolio site<br>
                            Built with: <a href="https://docs.djangoproject.com/en/5.0/" class="text-blue- 500 underline">Django</a>, <a href="https://www.postgresql.org/docs/" class="text-blue- 500 underline">PostgreSQL</a> <br>
                            Live url: <a href="https://opeoluwa-sigma.vercel.app/" class="text-blue-500 underline">Opeoluwa Fatunmbi</a> <br>
                            Github: <a href="https://github.com/Opeoluwa-Fatunmbi/opeoluwa" class="text-blue-500 underline">github.com/Opeoluwa-Fatunmbi/opeoluwa</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>



<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="text-center">
            

            <p class="font-medium text-gray-700 text-xs md:text-base">In my many years of experience, I use <a href="https://docs.djangoproject.com/en/5.0/">@django</a> for backend projects</p>
        </div>

    </div>

</section>

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Experience</h1>

        <p class="font-normal text-gray-500 text-xs md:text-base mb-20">Below is a summary of my experiences</p>

        <div class="flex flex-col lg:flex-row justify-between">
            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                <h6 class="font-medium text-gray-400 text-base uppercase">Company</h6>

                <p class="font-semibold text-gray-600 text-base">GodHeranca <span class="font-normal text-gray-300">/ Brazil</span></p>

                <p class="font-semibold text-gray-600 text-base">BitConnect <span class="font-normal text-gray-300">/ Abuja</span></p>

                <p class="font-semibold text-gray-600 text-base">OITS <span class="font-normal text-gray-300">/ New York</span></p>

                <p class="font-semibold text-gray-600 text-base">Laurels Enterprises<span class="font-normal text-gray-300">/ New York</span></p>

                <p class="font-semibold text-gray-600 text-base">Molarekef Enterprises<span class="font-normal text-gray-300">/ New York</span></p>
            </div>

            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                <h6 class="font-medium text-gray-400 text-base uppercase">Position</h6>

                <p class="font-normal text-gray-400 text-base">Backend Developer</p>

                <p class="font-normal text-gray-400 text-base">Blockchain Developer</p>

                <p class="font-normal text-gray-400 text-base">Backend Engineer</p>

                <p class="font-normal text-gray-400 text-base">Software Engineer</p>

                <p class="font-normal text-gray-400 text-base">Junior Backend-End Developer</p>
            </div>

            <div class="space-y-8 md:space-y-16">
                <h6 class="font-medium text-gray-400 text-base uppercase">Year</h6>

                <p class="font-normal text-gray-400 text-base">2024</p>

                <p class="font-normal text-gray-400 text-base">2024</p>

                <p class="font-normal text-gray-400 text-base">2023</p>

                <p class="font-normal text-gray-400 text-base">2022</p>

                <p class="font-normal text-gray-400 text-base">2021</p>
            </div>
        </div>
        
    </div>

</section>

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Testimonial</h1>

        <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Below is a summary of places/people I have worked with</p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-50 px-8 py-10 rounded-md">

                <p class="font-normal text-gray-500 text-md mb-4">Exceptional backend engineer with a <br> knack for simplifying complex problems.</p>

                <h6 class="font-semibold text-gray-500 text-md">Oladimeji Oluwasegun <span class="font-medium text-gray-300 text-sm">- CEO at OITS</span></h6>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">

                <p class="font-normal text-gray-500 text-md mb-4">A master of backend technologies, Opeoluwa's work is nothing short of remarkable.</p>

                <h6 class="font-semibold text-gray-500 text-md">Josephine Agnes <span class="font-medium text-gray-300 text-sm">- CEO at DigiOats</span></h6>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">

                <p class="font-normal text-gray-500 text-md mb-4">I highly recommend Opeoluwa for their <br> outstanding backend development skills and commitment to excellence.</p>

                <h6 class="font-semibold text-gray-500 text-md">Omasan Ebuka <span class="font-medium text-gray-300 text-sm">- Software Engineer at <br> Molarekef Enterprises</span></h6>
            </div>
        </div>

    </div>
    

</section>

{% endblock %}